<div id="page-wrapper">
	<div class="container-fluid">
		<%= render 'shared/dosFilasVistas', tituloVentana: "Listado de pacientes en Inmunoterapia"%>

		<%if !@pacientes.empty?%>		
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="list-group">
					<a href="#" class="list-group-item active">
						<div align="center">
							<h4 class="list-group-item-heading">Pacientes</h4>
						</div>
					</a>
				</div>
				<div  align="right">
					<%#= button_to "Agregar pregunta", new_administrator_faq_path, :method => "get", :class=> "btn btn-primary" %>
				</div>
				<% @pacientes.each_with_index do |usuario,i| %>
				<%if usuario.rol = 3%>
				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-<%=i.to_s%>" data-target="#pac<%=i.to_s%>" href="#collapse1-<%=i.to_s%>"><%=usuario.apellido+", "+usuario.nombre%></a>
								<div class="pull-right">
									<div class="controls">
										<a data-toggle="collapse" data-parent="#accordion-<%=i.to_s%>" data-target="#pac<%=i.to_s%>" href="#collapse1-<%=i.to_s%>"><span class="fa fa-fw fa-search"></span></a>

										<%=link_to edit_paciente_registration_path(usuario),
										title: 'Modificar datos del paciente',
										'data-toggle' => 'tooltip',
										'data-placement' => 'right' do %>
										<span class="fa fa-fw fa-pencil"></span>
										<%end%>
										<%=link_to usuario_registration_path(usuario), method: :delete, 
										title: 'Eliminar paciente',
										'data-toggle' => 'tooltip',
										'data-placement' => 'right',
										data: { confirm: 'Esta seguro que desea eliminar el paciente?' }  do %>
										<span class="fa fa-fw fa-trash-o"></span>
										<%end%>
									</div>
								</div>
							</h4>
						</div>
					</div>
					<div id = "pac<%=i.to_s%>" class = "collapse">
						<b>Número de paciente: </b><%=usuario.id.to_s%><br>
						<b>Historia: </b><%=usuario.historia%><br>
						<b>Tfl. Habitación: </b><%=usuario.telefono_habitacion%><br>
						<b>Tfl. Trabajo: </b><%=usuario.telefono_trabajo%><br>

						<table>
							<thead>
								<tr>
									<th colspan="3"><i><u>Frascos:</u></i></th>
								</tr>
							</thead>

							<tbody>
								<% fc = FrascosController.new %>
								<% usr = fc.obtener_frascos_usuario(usuario,1) %>
								<% eSusp = "Sin vacunas." %>
								<% if usr != nil %>
								<% eSusp = usr.fetch(:susp)==1 ? "SUSPENDIDO" : "En tratamiento"%>
								<% usr.fetch(:frascos).each do |fra| %>
								<tr>
									<td></td>
									<% strNoC = "" %>
									<% if fra.fetch(:status) == 0 %>
									<% 	strEntregado = "En espera de retiro" %>
									<% elsif fra.fetch(:status) == -1 %>
									<% 	strEntregado = "NO RETIRADO" %>
									<% else %>
									<% 	strEntregado = "Entregado el #{fra.fetch(:fEnt)}" %>
									<% end %>
									<% if fra.fetch(:fCre) == "" %>
									<% 	strEntregado = "NO PREPARADO" %>
									<%  strNoC = "--/--/--" %>
									<% end %>
									<td><i>Frasco <%= fra.fetch(:idFra) %>.	</i> <b>Solicitado:</b>  <%=strNoC+""+fra.fetch(:fCre)%>	<b>Estado:</b> <%=strEntregado%></td>								
								</tr>

								<% end %>
								<% else %>
								<tr>
									<td>&nbsp</td>
									<td>No posee frascos</td>								
								</tr>
								<% end %>
								<td>&nbsp</td>							
							</tbody>
						</table>
						<b>Estado del paciente: <i><%=eSusp%></i></b>
					</div>
				</div>
				<%end%>
				<%end%>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
	<% end %>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6" align="right">
			<%= button_to "Agregar pregunta", new_administrator_faq_path, :method => "get", :class=> "btn btn-primary" %>
		</div>
		<div class="col-lg-3"></div>
	</div>
	<div style="text-align:center">
	<%= will_paginate @pacientes,  renderer: BootstrapPagination::Rails %>
		<%#= js_will_paginate @frascosUsr, {page: params[:page], per_page: 10} %>
	</div>
</div>
<!-- /.container-fluid -->
</div><!-- /#page-wrapper -->