   <div id="page-wrapper">
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <% flash.each do |key, value| %>
            <div class="alert alert-success fade in">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <strong><%=value%></strong>
            </div><% end %>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
                <div style="text-align: center">
                  <h3 class="panel-title">
                    Pregunta
                  </h3>
                </div>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item"><strong>Pregunta:</strong>
                  <%=@faq.pregunta%>
                  </li>
                  <li class="list-group-item"><strong>Respuesta:</strong>
                  <%=@faq.respuesta%>
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>
         <div class="col-lg-3"></div>  
        </div>
       <!-- /.row -->

        <div class="row">
           <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div align="center">
            <%= link_to 'Modificar', edit_administrator_faq_path(@faq) %> |
            <%= link_to 'Regresar', administrator_faqs_path %>
          </div>
          <div>
          <div class="col-lg-3"></div>
        </div><!-- /.row -->

      </div><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->


        


