 <div id="page-wrapper">
   <h1>
   </h1>
   <div class="container-fluid">

    <div style="text-align:center">
      <% if @frascosUsr != [] %>
      <%= js_will_paginate @frascosUsr, {page: params[:page], per_page: 10} %>
      <% end %>
    </div>

    <%if !flash.nil?%>
    <div class="row">
      <div class="col-sm-12">
        <% flash.each do |key, value| %>

        <div class="alert alert-success fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%=value%></strong>
        </div>
        <% end %>
      </div>
    </div><!-- /.row -->

    <%end%>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @frascosUsr.each do |usr| %>
        <tr><td><h4><u><%= "#{usr.fetch(:nomAp)}. ##{usr.fetch(:id)}" %></u></h4></td></tr>
        <% usr.fetch(:frascos).each do |fra| %>
        <% noti = Integer(fra.fetch(:idFra)).modulo(2).zero? ? "Si" : "No" %>
        <% llama = Integer(fra.fetch(:idFra)).modulo(3).zero? ? "Si" : "No" %>
        <%# if fra.fetch(:idFra).modulo(2).zero? %>
        <%# noti = "Si" %>
        <%# else %>
        <%# noti = "No" %>
        <%# end %>
        <%# if fra.fetch(:idFra).modulo(3).zero? %>
        <%# llama = "Si" %>
        <%# else %>
        <%# llama = "No" %>
        <%# end %>
        <tr>
          <td></td>
          <td><i><b>Frasco <%= fra.fetch(:idFra) %>.</b></i>&nbsp&nbspNotificado por e-mail: <%=noti%>.&nbsp&nbspLlamado: <%=llama%>.&nbsp&nbsp Entregado:  <%=fra.fetch(:fEnt)%></td>
        </tr>
        <% end %>
        <td>&nbsp</td>
        <% end %>
      </tbody>
    </table>

    <br>

    <div style="text-align:center">
      <% if @frascosUsr != [] %>
      <%= js_will_paginate @frascosUsr, {page: params[:page], per_page: 10} %>
      <% end %>
    </div>

  </div>
</div>